<h1> New Restaurant Record</h1>
<form action="/restaurant" method="post">
<table>
    <tr> <td> Name: </td> <td> <input type="text" name="name" required> </td> </tr>
    <tr> <td> Cuisine Type: </td> <td> <input type="text" name="cuisine_type" required> </td> </tr>
    <tr> <td> Location: </td> <td> <input type="text" name="location" required> </td> </tr>
    <tr> <td> Delivery Time: </td> <td> <input type="text" name="delivery_time" required> </td> </tr>
</table>
<button type="submit">Save Restaurant</button>
</form>
