<h1> What is Global Cuisine?</h1>
<p>GlobalCuisine is a platform for food enjoyers like yourself to have a diverse
     yet delicious meal every week with out specially curated restaurants consisting 
     of your favorite cuisines!</p>