<html>
    <head>
        <link rel = 'stylesheet' href = '/stylesheets/style.css' />
    </head>
    <body>
        <h1>About Global Cuisine for Aahad Abubaker</h1>
        
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>

    </body>
</html>