<h1>Help and FAQ</h1>

<ul>If there are problems with your order, please contact Aahad using <a href="\contact">Contact Us</a></ul>

<ul>For any other questions, please refer to the <a href="\privacy">Privacy Policies</a></ul>

<ul>For any other questions, please refer to the <a href="\about">About Us</a></ul>

<ol>
     <li>How do I place an order? <br> <br>
          First, you must create an account. Then, you can browse our menu and add items to your cart. 
          Once you are ready to checkout, you can review your order and submit it.</li>
</ol>