<h1> New Recipe Package Record</h1>
<form action="/recipe_package" method="post">
<table>
    <tr> <td> Name: </td> <td> <input type="text" name="name" required> </td> </tr>
    <tr> <td> Cuisine Type: </td> <td> <input type="text" name="cuisine_type" required> </td> </tr>
    <tr> <td> Price: </td> <td> <input type="text" name="price" required> </td> </tr>
    <tr> <td> Ingredients: </td> <td> <textarea name="ingredients" rows="4" cols="30" required></textarea> </td> </tr>
    <tr> <td> Shipping Address: </td> <td> <input type="text" name="shipping_address" required> </td> </tr>
</table>
<button type="submit">Save</button>
</form>
