<h1> New Food Item Record</h1>
<form action="/food_item" method="post">
<table>
    <tr> <td> Name: </td> <td> <input type="text" name="name" required> </td> </tr>
    <tr> <td> Cuisine Type: </td> <td> <input type="text" name="cuisine_type" required> </td> </tr>
    <tr> <td> Price: </td> <td> <input type="text" name="price" required> </td> </tr>
    <tr> <td> Ingredients: </td> <td> <textarea name="ingredients" rows="5" cols="30" placeholder="Ingredients"></textarea> </td> </tr>
    <tr> <td> Availability: </td> <td> 
        <select name="availability" required>
            <option value="true">Available</option>
            <option value="false">Not Available</option>
        </select> 
    </td> </tr>
</table>
<button type="submit">Save</button>
</form>
